/* Specific styles for the about page */
* {
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
}

body {
    background: rgb(8,1,139);
    background: -moz-linear-gradient(180deg, rgba(8,1,139,1) 0%, rgba(8,27,41,1) 51%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(8,1,139,1) 0%, rgba(8,27,41,1) 51%, rgba(0,212,255,1) 100%);
    background: linear-gradient(180deg, rgba(8,1,139,1) 0%, rgba(8,27,41,1) 51%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#08018b",endColorstr="#00d4ff",GradientType=1);
    display: flex;
    flex-direction: column;
}

.about-container {
    font-family: 'Roboto', sans-serif;
    background: rgb(8,1,139);
    background: linear-gradient(338deg, rgba(8,1,139,1) 0%, rgba(8,27,41,1) 100%);
    color: #e0e0e0;
    background-repeat: no-repeat;
    border-radius: 50px;
    height: auto;
    padding: 40px; /* Add padding for spacing */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space evenly */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-bottom: 40px; /* Add margin for spacing */
    color: #fff;
    opacity: 0; /* Start hidden */
    animation: fadeIn 1s forwards; /* Fade in animation */
}

nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-top: 0;
}

.photo img {
    width: 120px;
    height: 100px;
    margin-right: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    margin-left: auto;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s, border-bottom 0.3s;
}

nav ul li a:hover {
    color: #00d4ff; /* Change text color on hover */
    border-bottom: 2px solid #00d4ff; /* Add bottom border on hover */
}

main {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    overflow: hidden; /* Prevent scrolling */
    font-style: italic;
    opacity: 0; /* Start hidden */
    animation: fadeIn 1s forwards; /* Fade in animation */
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.about-main-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.048);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-main-section div {
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: slideIn 1s forwards;
    animation-delay: 0.5s;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.081); /* Add a translucent background */
    border-radius: 10px; /* Add rounded corners */
    padding: 20px; /* Add padding for spacing */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}
.about-main-section div h1,h2{
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-shadow: 2px 5px 0 black;
}

.skills ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    padding: 0;
}
.skills ul li {
    list-style: none;
    background-color: #fff;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    color: black;
}


@keyframes slideIn {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.about-main-section div h1,
.about-main-section div p {
    padding: 2px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #fff;
    opacity: 0; /* Start hidden */
    animation: fadeIn 1s forwards; /* Fade in animation */
    animation-delay: 1s; /* Delay the animation */
}

.social {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}

.social a {
    color: #fff;
    text-decoration: none;
    font-size: 2.5rem;
    transition: color 0.3s;
}

.social a:hover {
    color: #00d4ff;
}

.copy{
    margin: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.copy a{
    color: #fff;
    text-decoration: none;
    transition: color 0.3s, border-bottom 0.3s;
    border:0.5px solid #00d4ff;
    border-radius: 50px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.8);
}
.copy a:hover{
    color: #00d4ff; /* Change text color on hover */
}